@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgrey;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
.pfp {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 7%;
}
.name {
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
}
.pres {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.yt_channel {
    text-decoration: none;
    color: rgb(238, 255, 0);
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 73, 73);
}
.card {
    margin: auto; /* Added */
    float: none; /* Added */
    margin-top: 10px; /* Added */
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.partners {
  text-align: center;
  margin-top: 10px;
}