@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgrey;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
.pfp {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 7%;
}
.name {
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 40px;
}
.pres {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.yt_channel {
    text-decoration: none;
    color: darkgreen;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 73, 73);
}
.card {
    margin: auto; /* Added */
    float: none; /* Added */
    margin-top: 10px; /* Added */
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.partners {
  text-align: center;
  margin-top: 10px;
}
.jumbo-container {
    color: #333;
}
.jumbo {
    background-color: #b0b0b0;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
.modal-title {
    color: #333;
}
.modal-body {
    color: #333;
}
.btn-center {
    margin: 0;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
footer {
    text-align: center;
    margin-top: 100px;
}
.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  .nav-logo {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    font-family: 'Audiowide', cursive;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}